<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
    <body>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
    <h1>Design your taco!</h1>
    <img th:src="@{/images/TacoCloud.jpeg}"/>
        <form method="POST" th:object="${taco}">
            <div class="container">
                <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
                     th:if="${#fields.hasErrors('ingredients')}"
                     th:errors="*{ingredients}">
                    Ingredients error
                </div>
                <div class="row">
                    <div id="wraps" class="ingredient-group col-sm-4">
                        <h3>Designate your wrap:</h3>
                        <div class="form-check" th:each="ingredient : ${wrap}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'ingredientId_' + ${ingredient.id}"
                                   th:field="*{ingredients}"
                                   th:value="${ingredient.id}"/>
                            <label class="form-check-label"
                                   th:for="'ingredientId_' + ${ingredient.id}"
                                   th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                    <div id="proteins" class="ingredient-group col-sm-4">
                        <h3>Pick your protein:</h3>
                        <div class="form-check" th:each="ingredient : ${protein}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'ingredientId_' + ${ingredient.id}"
                                   th:field="*{ingredients}"
                                   th:value="${ingredient.id}"/>
                            <label class="form-check-label"
                                   th:for="'ingredientId_' + ${ingredient.id}"
                                   th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                    <div id="cheeses" class="ingredient-group col-sm-4">
                        <h3>Choose your cheese:</h3>
                        <div class="form-check" th:each="ingredient : ${cheese}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'ingredientId_' + ${ingredient.id}"
                                   th:field="*{ingredients}"
                                   th:value="${ingredient.id}"/>
                            <label class="form-check-label"
                                   th:for="'ingredientId_' + ${ingredient.id}"
                                   th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="veggies" class="ingredient-group col-sm-6">
                        <h3>Determine your veggies:</h3>
                        <div class="form-check" th:each="ingredient : ${veggies}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'ingredientId_' + ${ingredient.id}"
                                   th:field="*{ingredients}"
                                   th:value="${ingredient.id}"/>
                            <label class="form-check-label"
                                   th:for="'ingredientId_' + ${ingredient.id}"
                                   th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                    <div id="sauces" class="ingredient-group col-sm-6">
                        <h3>Select your sauce:</h3>
                        <div class="form-check" th:each="ingredient : ${sauce}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'ingredientId_' + ${ingredient.id}"
                                   th:field="*{ingredients}"
                                   th:value="${ingredient.id}"/>
                            <label class="form-check-label"
                                   th:for="'ingredientId_' + ${ingredient.id}"
                                   th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="tacoName" class="form-label">Name your taco creation:</label>
                    <input id="tacoName" class="form-control" type="text"
                           th:field="*{name}"/>
                    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}">
                        Taco name error
                    </div>
                    <button class="btn btn-primary">Submit Your Taco</button>
                </div>
            </div>
        </form>
    </body>
</html>